.active{
  top: 170px;
}
.submenu{
  display: none;
}
&:hover .submenu{
  display: block;
}
html,body{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* Center content when zooming */
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.paralax{
  background-image: url("/images/cooking/img-1.png");
}

.bg-img-dark{
  background-image: url("/images/footer/header-back.png");
}

/* Main container for desktop responsive */
.main-wrapper {
  width: 100%;
  background-color: #E9E9E9;
  min-height: 100vh;
}

.main-content {
  width: 100%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.f{
  background-image: url("/images/footer/img-1.png");
  &:hover{
    background-image: url("/images/footer/img-12.png");
  }
}
.l{
  background-image: url("/images/footer/img-3.png");
  &:hover{
    background-image: url("/images/footer/img-2.png");
  }
}
.i{
  background-image: url("/images/footer/img-4.png");
  &:hover{
    background-image: url("/images/footer/img-8.png");
  }
}
.t{
  background-image: url("/images/footer/img-5.png");
  &:hover{
    background-image: url("/images/footer/img-9.png");
  }
}
.a{
  background-image: url("/images/footer/img-6.png");
  &:hover{
    background-image: url("/images/footer/img-10.png");
  }
}
.g{
  background-image: url("/images/footer/img-7.png");
  &:hover{
    background-image: url("/images/footer/img-11.png");
  }
}
