@import "tailwindcss";
@theme {
    --breakpoint-*: initial;
    --breakpoint-mobile: 340px;
    --breakpoint-tablet: 640px;
    --breakpoint-desktop: 1000px;
}
  
@font-face {
    font-family: Yekan;
    src: url(../../public/fonts/Iran\ Sans\ Light.ttf);
}
@font-face {
    font-family: Num;
    src: url(../../public/fonts/IRANSansWeb-Light.woff2);
}
:root {
    --fontFamily: Yekan;
    --fontNumber: Num;
}

/* Main container styles for desktop */
.main-wrapper {
    width: 100%;
    background-color: #4a4a4a;
    min-height: 100vh;
}

.main-content {
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}
